doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='image/favicon.ico', type='image/x-icon')
        title UNIQUE|TECH...
        // bootstrap style
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous")
        // bootstrap icons
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css")
        // base style
        link(rel='stylesheet', href='css/style.css')

    body
        // start header section
        header.py-5
            nav.navbar.navbar-expand-lg.pt-5.navbar-dark
                .container
                    a.navbar-brand.fw-bolder(href='#')
                        span.d-inline-block.px-2.text-white UNIQUE
                        |  TECH
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
                        .navbar-nav.fw-bold.text-start
                            a.nav-link.active(aria-current='page' href='#home') HOME
                            a.nav-link(href='#services') SERVICES
                            a.nav-link(href='#about') ABOUT
                            a.nav-link(href='#portfolio') PORTFOLIO
                            a.nav-link(href='#academic') ACADEMIC
                            a.nav-link(href='#history') BLOG
                            a.nav-link(href='#contact')
                                | CONTACT US
                                br
                                | (+966- 322 322)

        // start home section
        section#home
            .container.pb-4
                .row.py-4.justify-content-center.align-items-center
                    .col-12.col-lg-5.text-white.position-relative.text-center.text-lg-start
                        h1.display-md-6.display-lg-4.mb-4.pb-3.fw-bold.text-uppercase
                            | unique-tech 
                            br
                            |  app development
                        img.d-none.d-lg-block(src='images/firstArrow.png' alt='arrow' style='position: absolute;top: -54px;right: -301px;')
                        p.fs-6.my-4
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            | in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. laborum. Sed ut perspiciatis unde omnis iste. natus error
                            | sit voluptatem accusantium doloremque laudantium.
                        a.btn.px-4.btn-lg.align-self-end.mb-4.text-white(href='#' style='background-color:#464646;')
                            | View More
                            img.ms-2(src='images/singleArrow.png')
                    .col-12.col-lg-7
                        img(src='images/macbook_mobile.png' alt='')

        // start services section
        section#services.pt-5.mt-5
            .d-flex.justify-content-center.align-items-center
                h2.text-white.fw-bolder.fs-4.shadow.text-uppercase what we do
                img.d-none.d-lg-block.align-self-end(src='images/toLiftArrow.png' alt='arrow')
            .container
                .row.justify-content-center.align-items-center.py-4.text-center.text-lg-start
                    .col-12.col-lg-6
                        img(src='images/macbook.png' alt='')
                    .col-12.col-lg-6.my-5
                        h4.my-2 WEB DESIGN
                        p.lead.fs-6
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorin
                          | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laborum. Sed ut perspiciatis unde omnis iste natus
                          | error sit voluptatem accusantium doloremque laudantium.
                        a.btn.btn-warning.btn-lg.shadow.px-5.py-3.text-dark.text-opacity-75.fs-6.fw-bold(href='#') VIEW MORE
                .row.justify-content-center.align-items-center.py-5.my-3.text-center.text-lg-start
                    .col-12.col-lg-6.order-lg-2
                        img(src='images/macbook.png' alt='')
                    .col-12.col-lg-6.my-5.order-lg-1
                        h4.my-2 SEARCH ENGINE OPTIMIZATION
                        p.lead.fs-6
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorin
                          | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laborum. Sed ut perspiciatis unde omnis iste natus
                          | error sit voluptatem accusantium doloremque laudantium.
                        a.btn.btn-warning.btn-lg.shadow.px-5.py-3.text-dark.text-opacity-75.fs-6.fw-bold(href='#') VIEW MORE
                .row.justify-content-center.align-items-center.py-5.my-3.text-center.text-lg-start
                    .col-12.col-lg-6
                        img(src='images/macbook.png' alt='')
                    .col-12.col-lg-6.my-5
                        h4.my-2 AFFILIATE MARKETING
                        p.lead.fs-6
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorin
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laborum. Sed ut perspiciatis unde omnis iste natus
                            | error sit voluptatem accusantium doloremque laudantium.
                        a.btn.btn-warning.btn-lg.shadow.px-5.py-3.text-dark.text-opacity-75.fs-6.fw-bold(href='#') VIEW MORE

        // start about section
        section#about.py-5.my-5
            .d-flex.justify-content-center.align-items-center
                img.d-none.d-lg-block.align-self-end(src='images/toRightArrow.png' alt='arrow')
                h2.fw-bolder.fs-4.shadow.text-uppercase.text-white how we work
            .container.py-5
                .row.justify-content-center.align-items-center
                    .col-10
                        img(src='images/our_work.png' alt='')

        // start features section
        section#portfolio.pt-5.my-5
            .d-flex.justify-content-center.align-items-center
                h2.text-white.fw-bolder.fs-4.shadow.text-uppercase our features
                img.d-none.d-lg-block.align-self-end(src='images/toLiftArrow.png' alt='arrow')
            .container.my-5
                .row.mt-5
                    .col-12.col-lg-4.d-flex.feature.mt-3
                        i.bi.bi-file-earmark-text.fs-2.py-3.px-2
                        .pt-3
                            h5 Visual Composer
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi.bi-display.fs-2.py-2.px-2.align-self-top
                        .pt-3
                            h5 Responsive
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi-laptop.fs-2.py-3.px-2
                        .pt-3
                            h5 Retina Ready
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                .row
                    .col-12.col-lg-4.d-flex.feature
                        i.bi.bi-pencil-fill.fs-2.py-3.px-2
                        .pt-3
                            h5 Typography
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi.bi-display.fs-2.py-2.px-2.align-self-top
                        .pt-3
                            h5 Theme Options Panel
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi-body-text.fs-2.py-3.px-2
                        .pt-3
                            h5 Dummy Content
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                .row
                    .col-12.col-lg-4.d-flex.feature
                        i.bi.bi-credit-card-2-back-fill.fs-2.py-3.px-2
                        .pt-3
                            h5 Many Style Available
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi.bi-bar-chart-steps.fs-2.py-2.px-2.align-self-top
                        .pt-3
                            h5 Header Style
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi-bag-fill.fs-2.py-3.px-2
                        .pt-3
                            h5 1000+ Icons
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                .row.mb-5
                    .col-12.col-lg-4.d-flex.feature
                        i.bi.bi-emoji-sunglasses.fs-2.py-3.px-2
                        .pt-3
                            h5 Support
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi.bi-box-arrow-in-down.fs-2.py-2.px-2.align-self-top
                        .pt-3
                            h5 Update
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.
                    .col-12.col-lg-4.d-flex.feature
                        i.bi-cup-straw.fs-2.py-3.px-2
                        .pt-3
                            h5 SEO Ready
                            p
                                | TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes.

        // start Packages section
        section#academic.my-5
            .d-flex.justify-content-center.align-items-center
                img.d-none.d-lg-block.align-self-end(src='images/toRightArrow.png' alt='arrow')
                h2.text-white.fw-bolder.fs-4.shadow.text-uppercase our packages
            .container.p-5
                .table-responsive-md
                    table.table.table-borderless.my-5.mx-auto.text-center.w-75
                        thead
                            tr
                                td.text-muted.fs-3.pb-3 Basic
                                td.text-danger.fs-3.pb-3 Standard
                                td.text-warning.fs-4 Premium
                        tbody
                            tr.border-bottom.border-warning
                                td.text-muted.pt-5 5 web sites
                                td.border-start.border-end.border-warning.pt-5 15 web sites
                                td.text-muted.pt-5 30 web sites
                            tr.border-bottom.border-warning
                                td.text-muted 15 e-mails
                                td.border-start.border-end.border-warning 40 e-mails
                                td.text-muted 50 e-mails
                            tr.border-bottom.border-warning
                                td.text-muted 5 MySQL databases
                                td.border-start.border-end.border-warning 20 MySQL databases
                                td.text-muted 40 MySQL databases
                            tr.border-bottom.border-warning
                                td.text-muted 10 GB storage
                                td.border-start.border-end.border-warning 50 GB storage
                                td.text-muted 100 GB storage
                            tr
                                td.text-muted.align-bottom.fs-2.fw-normal $5/mo.
                                td.text-danger.fw-bold.border-start.border-end.border-warning
                                    span.display-1.fw-bold $12
                                    | /mo.
                                td.text-warning.align-bottom.fs-2.fw-normal $19/mo.
                            tr
                                td.pt-3
                                    a.btn.btn-secondary.px-5.py-2(href='# ') ORDER NOW
                                td.pt-3
                                    a.btn.btn-danger.btn-lg.px-5.py-2(href='# ') ORDER NOW
                                td.pt-3
                                    a.btn.btn-warning.text-white.px-5.py-2(href='# ') ORDER NOW

        // start history section
        section#history.my-5.py-5
            .container.py-5
                .row.mt-4.mb-5.text-center.text-lg-start
                    .col-12.col-lg-5
                        img(src='images/history.png ' alt='history ')
                    .col-12.col-lg-5
                        h2.btn.btn-secondary.text-white.px-5.py-2.mt-0.mb-4.fw-bolder.fs-4.shadow.text-uppercase
                            | our
                            | history
                        p
                            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam natus cum reiciendis qui quos iure, asperiores sint, eveniet quasi beatae, alias unde? Voluptate aliquid voluptatum assumenda est delectus aut ea. Lorem ipsum, dolor sit amet consectetur
                            | adipisicing elit. Magnam natus cum reiciendis qui quos iure, asperiores sint, eveniet quasi beatae, alias unde? Voluptate aliquid voluptatum assumenda est delectus aut ea. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            | Magnam natus cum reiciendis qui quos iure, asperiores sint, eveniet quasi beatae, alias unde? Voluptate aliquid voluptatum assumenda est delectus aut alias unde? Voluptate aliquid voluptatum assumenda est delectus.
                            | Magnam natus cum reiciendis qui quos iure, asperiores sint, eveniet quasi beatae, alias unde?
                            | Voluptate aliquid voluptatum assumenda est delectus aut alias unde? Voluptate aliquid voluptatum
                            | assumenda est delectus.
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, velit?
                        a.btn.btn-warning.btn-lg.shadow.px-3.py-2.text-dark.text-opacity-75.fs-6.fw-bold.text-uppercase(href='# ') browse our story

        // start projects section
        section#contact.py-5.my-5
            .d-flex.justify-content-center.align-items-center
                h2.text-white.fw-bolder.px-4.fs-4.shadow.text-uppercase our business related projects
                img.d-none.d-lg-block.align-self-end(src='images/toLiftArrow.png ' alt='arrow ')
            .container.py-5
                .py-5.my-5.d-flex.justify-content-center.align-items-center(style='background:#f4f4f4; ')
                    img(src='images/projet.png ' alt='objet ')

        // start team members section
        section#team(style="padding:4.4rem 0;")
            .d-flex.justify-content-center.align-items-center
                img.d-none.d-lg-block.align-self-end(src='images/toRightArrow.png ' alt='arrow ')
                h2.text-white.fw-bolder.fs-4.shadow.text-uppercase our team members
            .bg-warning.my-5
                .container.py-5
                    .row.mx-auto.text-uppercase.justify-content-center.align-items-center.text-white.text-center
                        .card.bg-transparent.border-0.col-sm-6.col-md-4.col-lg-3.align-items-center(style='width:15rem; ')
                            img.card-img-top.w-50(src='images/member_3.png ' alt='... ')
                            .card-body
                                h6.card-title.fw-bold syed miraj
                                p.card-text ui & ux designer
                        .card.bg-transparent.border-0.col-sm-6.col-md-4.col-lg-3.align-items-center(style='width:15rem; ')
                            img.card-img-top.w-50(src='images/member_2.png ' alt='... ')
                            .card-body
                                h6.card-title.fw-bold penny huston
                                p.card-text developer
                        .card.bg-transparent.border-0.col-sm-6.col-md-4.col-lg-3.align-items-center(style='width:15rem; ')
                            img.card-img-top.w-50(src='images/member_1.png ' alt='... ')
                            .card-body
                                h6.card-title.fw-bold lennerd shelly
                                p.card-text reviweer
                        .card.bg-transparent.border-0.col-sm-6.col-md-4.col-lg-3.align-items-center(style='width:15rem; ')
                            img.card-img-top.w-50(src='images/member_3.png ' alt='... ')
                            .card-body
                                h6.card-title.fw-bold sheldon cupper 
                                p.card-text marketter
                        .card.bg-transparent.border-0.col-sm-6.col-md-4.col-lg-3.align-items-center(style='width:15rem; ')
                            img.card-img-top.w-50(src='images/member_2.png ' alt='... ')
                            .card-body
                                h6.card-title.fw-bold ashley cole 
                                p.card-text management

        // start support & update section
        section#support 
            .d-flex.justify-content-center.align-items-center
                h2.text-white.fw-bolder.fs-4.shadow.text-uppercase update & support
                img.d-none.d-lg-block.align-self-end(src='images/toliftArrow.png ' alt='arrow ')
            .container.mt-4.pt-4
                .row.justify-content-center.align-items-center.py-3.text-center.text-lg-start
                    .col-12.col-lg-6.my-5
                        p.lead.fs-6
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorin
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laborum.
                            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            | laudantium.
                        a.btn.btn-warning.btn-lg.shadow.px-5.py-3.text-dark.text-opacity-75.fs-6.fw-bold(href='# ')
                            | VIEW
                            | MORE
                    .col-12.col-lg-6
                        img(src='images/macbook.png ' alt=' ')

        // start hire me section
        section#hire.my-5.py-5
            .container.mt-5
                .text-uppercase.my-5.d-flex.flex-column.justify-content-center.align-items-center
                    .d-flex.flex-column.justify-content-between.align-items-center.w-75
                        .overlay.position-relative
                            img(src='images/bigImag.png ' style='height:27rem; width:72rem; ' alt='hire ')
                        .d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.bg-warning.p-2.p-lg-3.fs-5.fw-lg-bold.w-100
                            p.text-white
                                | need creative workers?
                            a.btn.bg-white.fw-lg-bold.justify-content-end(href='# ')
                                | hire
                                | us

        // start footer
        footer.bg-dark.py-5
            .container.px-5
                .row
                    .col-sm-6.col-md-3.d-flex.flex-column.justify-content-center.text-center.text-lg-start
                        ul.list-unstyled
                            li.mb-3.text-white.h5 PORTFOLIO
                            li
                                a.nav-link.text-muted(href='# ') Web Design
                            li.my-1
                                a.nav-link.text-muted(href='# ') Branding - Identity
                            li
                                a.nav-link.text-muted(href='# ') Mobile Design
                            li.my-1
                                a.nav-link.text-muted(href='# ') Print
                            li
                                a.nav-link.text-muted(href='# ') User Interface
                    .col-sm-6.col-md-3.d-flex.flex-column.justify-content-center.align-self-start.text-center.text-lg-start
                        ul.list-unstyled
                            li.mb-3.text-white ABOUT
                            li
                                a.nav-link.text-muted(href='# ') The Company
                            li.my-1
                                a.nav-link.text-muted(href='# ') History
                            li
                                a.nav-link.text-muted(href='# ') Vision
                    .col-sm-6.col-md-3.d-flex.flex-column.justify-content-center.align-self-start.text-center.text-lg-start
                        ul.list-unstyled
                            li.mb-3.text-white GALLERY
                            li.mb-1
                                a.nav-link.text-muted(href='# ') Flickr
                            li
                                a.nav-link.text-muted(href='# ') Picasa
                            li.my-1
                                a.nav-link.text-muted(href='# ') iStockPhoto
                            li
                                a.nav-link.text-muted(href='# ') PhotoDune
                    .col-sm-6.col-md-3.d-flex.flex-column.justify-content-center.align-self-start.text-center.text-lg-start
                        ul.list-unstyled
                            li.mb-3.text-white CONTACT
                            li
                                a.nav-link.text-muted(href='# ') Basic Info
                            li.my-1
                                a.nav-link.text-muted(href='# ') Map
                            li
                                a.nav-link.text-muted(href='# ') Conctact Form
                .d-flex.flex-column.justify-content-center.align-items-center.mt-3
                    .my-3
                        a.btn.btn-warning.text-white.rounded-1.me-2(href='https://www.facebook.com/er.ermix/',target='_blank')
                            i.bi.bi-facebook.fs-5
                        a.btn.btn-warning.text-white.rounded-1.me-2(href='https://twitter.com/re_ermix',target='_blank')
                            i.bi.bi-twitter.fs-5
                        a.btn.btn-warning.text-white.rounded-1.me-2(href='mailto:redaermich@gmail.com',target='_blank')
                            i.bi.bi-google.fs-5
                        a.btn.btn-warning.text-white.rounded-1.me-2(href='https://www.linkedin.com/in/ermich-reda/',target='_blank')
                            i.bi.bi-linkedin.fs-5
                    .text-muted Copyright © 2022 ERMICH Reda.All rights reserved.

        // to the top
        a.rounded-circle.shadow.fixed(href='#').text-white.py-1
            i.bi.bi-arrow-up
        
        // script bootstrap
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js", integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa", crossorigin="anonymous")